@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap");
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: white;
}
* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
.contactPage {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.ctcase {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.header {
  width: 100%;
  padding: 40px 100px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.infromation {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}

.logo {
  color: white;
  font-size: 1.8rem;
}
.topHeader {
  width: 100vw;
  background: url(./Image/bg3.png);
  background-attachment: fixed;
}
.topHeader h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 100px;
}
.mainContact {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.mainH1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 2rem;
  color: #228b22;
  font-weight: 500;
  width: 700px;
}
.mainH1 span {
  font-size: 2rem;
  border-bottom: 7px solid #e7a03c;
  display: inline-block;
  line-height: 0.5;
  z-index: -100;
}

.mainText {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;
}
.mainText h1 {
  font-weight: bolder;
  color: #228b22;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}
.mainText p {
  font-weight: lighter;
}
.listLink {
  color: black;
}
.box:hover {
  box-shadow: 0 0 11px rgba(20, 20, 20, 0.2);
}
.box_info {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  padding: 10px;
}
/* SIDE BAR IN CONTACT */
.fa-bars {
  margin-left: 50px;
  position: relative;
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 0;
  color: white;
}
.sidebar {
  position: fixed;
  width: 200px;
  top: 0;
  bottom: 0;
  right: -250px;
  height: 100vh;
  z-index: 5;
  transition: all 0.8s ease;
  background: white;
}
.sidebar header {
  display: flex;
  height: 100%;
  padding: 0;
  z-index: 5;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.fa-chevron-right {
  color: black;
  font-size: 1.8rem;
  cursor: pointer;
  user-select: none;
}
.title {
  color: black;
}
/* Small Screen */
@media screen and (max-width: 700px) {
  .infromation {
    display: none;
  }
  .mainText {
    width: 400px;
  }
  .mainH1 {
    width: 400px;
  }
}
@media screen and (max-width: 400px) {
  .infromation {
    display: none;
  }
  .mainText {
    width: 300px;
  }
  .mainText h1 {
    font-size: 1.2rem;
  }
  .mainText p {
    font-size: 0.8rem;
  }
  .mainContact > .mainH1 {
    border: none;
    font-size: 1.2rem;
    width: 300px;
  }
  .mainContact > .mainH1 > span {
    border: none;
    font-size: 1.2rem;
  }
  .topHeader > .contact_title {
    font-size: 1.5rem;
  }
  .box {
    width: 200px;
  }
  .fa-bars {
    margin-left: 10px;
  }
}
@media screen and (max-width: 321px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .toggle {
    margin-bottom: -50px;
  }
}
/* Big Screen */
@media screen and (min-width: 700px) {
  .toggle,
  .sidebar {
    display: none;
  }
}
